<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="autofac"
                 type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    </configSections>
    <connectionStrings>
        <add name = "MysqlDb"
             connectionString="server=localhost;database=Books;user=zhang;password=Zjx_520499;SslMode=none;Charset=utf8"
         />
    </connectionStrings>
    <autofac>
        <components>
            <component type="BookManagement.MysqlRepository.BookRepository,BookManagement.MysqlRepository"
                       service="BookManagement.Generic.IRepository,BookManagement.Generic"/>
        </components>
    </autofac>
</configuration>
