<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="Logfile.log"/>
  </appSettings>
      <connectionStrings>
    <add name="DBLog" 
         connectionString="Server=localhost;Database=LogData;Uid=zhang;Pwd=Zjx_520499;SslMode=none" 
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
