<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="zhang" 
         connectionString="Server=localhost;Database=homework;Uid=zhang;Pwd=Zjx_520499;SslMode=none;Charset=utf8" 
         providerName="MySql.Data.MySqlClient"/>
        </connectionStrings>
    <appSettings>
        <add key="datas" value="dataFile.txt"/>
        </appSettings>
</configuration>