<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="autofac" 
                 type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    </configSections>
    <appSettings>
        <add key="LogPath" value="Logfile.log" />
    </appSettings>
    <connectionStrings>
        <add name="DBLog" 
             connectionString="Server=localhost;Database=LogData;Uid=zhang;Pwd=Zjx_520499;SslMode=none" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <autofac>
        <components>
            <component type="Calculator_DBLog.DBLog,Calculator_DBLog" 
                       service="Calculate_Lib.ILog,Calculate_Lib" />
        </components>
    </autofac>
</configuration>